

html, body{
margin: 0;
padding: 0;
}

/* blurring the image */
.gfg{
    filter: blur(0px);
    width: 100%;
}

/* designing title and tag line */
.logo {
    text-align: center;
    position: absolute;
    font-size: 18px;
    top: 50px;
    left: 27%;
    color: white;
    padding-top: 300px;
    

}

h1,
p {
   
    padding: 10px 50px;
    position: relative;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 :hover {
    background: -webkit-linear-gradient(red, lime);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h1 {
    font-size: 50px;
}
/* Designing button */

.logo button {
    border-radius: 60px;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 0px;
}

.logo button:hover {
    background-color: red;
    color: white;
    border-radius: 60px;
    font-size: 20px;
    
}

.hero_container{
    
    height: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 80px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
    height: 80px;
    padding-top: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: red;
    color: white;
  }
  
  

